<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>927538831976-m98he4o9dcs8h520932d6l3lc79j48iq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.927538831976-m98he4o9dcs8h520932d6l3lc79j48iq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>927538831976-amf9kqjbildabgqovii9vagjqu59tg72.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDgNBDSOOfouG3OraE3bCkMg21I59LvhZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>927538831976</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iq.tahady</string>
	<key>PROJECT_ID</key>
	<string>tahady2</string>
	<key>STORAGE_BUCKET</key>
	<string>tahady2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:927538831976:ios:01373a055f252cdf8491dd</string>
</dict>
</plist>